*,
*::before,
*::after  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
Color Palette: Seafoam Green
#cdf0e1	(205,240,225) - lightest
#98d6bf	(152,214,191)
#76c9aa	(118,201,170)
#4aa789	(74,167,137)
#4b907d (75,144,125) - darkest
*/

/*
 *
 * Landing Page
 *
 */

.landing-hero {
	background-color: #4b907d;
	position: relative;
	background-image: url('../img/landing.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: 0;
	height: 100vh;
}

.landing-position {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.landing-elements {
	position: relative;
}

.landing-logo,
.landing-button {
    position: relative;
	left: 50%;
	transform: translateX(-50%);	
	margin-bottom: 15px;
}

.landing-button {
	text-transform: uppercase;
    border: none;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .6); 
    border: 2px solid white;
    text-shadow: 1px 1px 6px white;
}

.landing-button:focus,
.landing-button:active,
.landing-button.active,
.landing-button:focus:active {
	background-image: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.landing-elements > a {
	color: #3d3d3d; /*dark gray*/
}

.landing-elements > a:hover {
	color: #3d3d3d; /*dark gray*/
	text-decoration: none;
}

.landing-button:hover {
    background-color: white;
}

/*
 *
 * Navbar
 *
 */

.navbar {
    margin-bottom: 0;
    text-decoration: none;
    border-radius: 0;
    height: 65px;
    z-index: 100;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	background-color: rgba(255, 255, 255, 0);
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.darknavbar { /* for js */
	background-color: #4b907d;
}

.navbar-brand {
	font-family: 'Satisfy', cursive;
	padding-top: 16.5px;
	padding-top: 23px;
}

.menu-text,
.dropdown > a {
	color: white;
}

.navbar-toggle > i {
	color: white;
	font-size: 1.3em;
	line-height: 30px;
}

a:hover { /*Brand Name and Contact*/
	color: rgba(255, 255, 255, .8);
}

.dropdown > a:hover,
.nav > li > a:hover { /*Getting Started and Suppliers*/
	color: rgba(255, 255, 255, .8);
	background-color: transparent;
	cursor: pointer;
}

.dropdown-menu > li > a {
	color: white;
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 20px;
    padding: 10px;
	border-radius: 0;
	border: 3px solid white;
}

.dropdown-menu {
	background-color: rgba(0, 0, 0, .6);
}

.dropdown-menu-dark {
	background-color: rgba(75, 144, 125, 1);
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}

.glyphicon-search {
	color: white;
}

.input-group > input {
	border-radius: 0;
	background-color: rgba(255, 255, 255, .3);
	border: 1px solid white;
	color: white;
	margin-right: 50px;
	border-color: white;
}

.input-group > input:focus {
	border-color: white;
}

.input-group {
	margin-top: 8px;
}

.input-group > input::placeholder {
	color: white;
}

.btn-default,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default:focus:active {
	border-radius: 0;
	border-color: white;
	background-color: transparent;
	background-image: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-default:hover {
	background-color: rgba(255,255,255,.3);
	border-color: white;
}

/*
 *
 * Carousel
 *
 */

.home-hero-1,
.home-hero-2,
.home-hero-3 {
	background-color: #4b907d;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
}

.home-hero-1 {
	background-image: url('../img/home1.jpg');
}

.home-hero-2 {
	background-image: url('../img/home2.jpg');
}

.home-hero-3 {
	background-image: url('../img/home3.jpg');
}

.carousel-indicators li,
.carousel-indicators li.active {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: white;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel {
	position: relative;
}

.carousel-inner{
  	max-height: 100vh;
}

.carousel-indicators li.active {
    background-color: white;
}

/*
 *
 * Hero Images
 *
 */

.requirements-hero-1,
.catering-hero-1,
.contact-hero-1,
.decors-hero-1,
.entourage-hero-1,
.stationery-hero-1,
.theme-hero-1,
.venue-hero-1,
.wardrobe-hero-1,
.photo-hero-1 {
	background-color: #4b907d;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
}

.requirements-hero-1 {
	background-image: url('../img/requirements.jpg');
}

.catering-hero-1 {
	background-image: url('../img/catering.jpg');
}

.contact-hero-1 {
	background-image: url('../img/contact.jpg');
}

.decors-hero-1 {
	background-image: url('../img/decors.jpg');
	background-position: right;
}

.entourage-hero-1 {
	background-image: url('../img/entourage.jpg');
}

.stationery-hero-1 {
	background-image: url('../img/stationery.jpg');
}

.theme-hero-1 {
	background-image: url('../img/theme.jpg');
}

.venue-hero-1 {
	background-image: url('../img/venue.jpg');
}

.wardrobe-hero-1 {
	background-image: url('../img/wardrobe.jpg');
}

.photo-hero-1 {
	background-image: url('../img/photo.jpg');
}

/*
 *
 * Home
 *
 */

.home-text > h2 {
	color: #4b907d;
	font-size: 1.8em;
	font-family: 'Satisfy', serif;
	margin: 20px 0;
}

.home-text > p {
	margin-bottom: 10px;
}

/*
 *
 * Timeline Text
 * 
 */

body {
	background: #f2f0f0;
	color: black;
	overflow-x: hidden;
}

.timeline-title > h1 {
	color: #4b907d;
	font-size: 2em;
	text-align: center;
	font-family: 'Satisfy', serif;
}

.timeline-title {
	border: 5px solid #4b907d;
	width: 230px;
	padding: 25px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.timeline .fa {
	color: #4b907d;
	margin-right: 10px;
}

.timeline-text {
	padding: 50px;
}

.timeline h3 {
	font-size: 1.2em;
	text-transform: uppercase;
	margin: 10px 0;
	color: #4b907d;
}

/*
 *
 * Timeline Structure
 *
 */

.timeline {
	padding-bottom: 30px;
}

.timeline ul li {
	list-style-type: none;
	position: relative;
	width: 6px;
	margin: 0 auto;
	padding-top: 50px;
	background: #98d6bf;
}

.timeline ul li::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #98d6bf;
}

.timeline ul li div {
	position: relative;
	bottom: 0;
	width: 400px;
	padding: 25px;
	background: white;
	box-shadow: 5px 5px 5px #e0dada;
}

.timeline ul li div::before {
	content: '';
	position: absolute;
	bottom: 7px;
	width: 0;
	height: 0;
	border-style: solid;
}

.timeline ul li:nth-child(odd) div {
	left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
	left: -15px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #ffffff transparent transparent;
}

.timeline ul li:nth-child(even) div {
	left: -439px;
}

.timeline ul li:nth-child(even) div::before {
	right: -15px;
	border-width: 8px 0 8px 16px;
	border-color: transparent transparent transparent #ffffff;
}

/*
 *
 * Timeline Effects
 *
 */

.timeline ul li::after {
	background: #98d6bf;
	transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
	background: #4b907d;
}

.timeline ul li div {
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease-in-out;
}

.timeline ul li.in-view div {
	transform: none;
	visibility: visible;
	opacity: 1;
}

/*
 *
 * Text
 *
 */

body {
	font-family: 'Noto Sans', sans-serif;
}

.landing-button {
	font-family: 'Noto Sans', sans-serif;
	letter-spacing: 1px;
	color: #606060;
}

.navbar-brand {
	font-family: 'Satisfy', cursive;
}

p,
li {
	margin: 0;
	color: #484848;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
}

form label {
	font-size: 1.1em;
	color: #4c4c4c;
}

/*
 *
 * Form
 *
 */

.btn {
	float: right;
}

.add-comment .form-control:focus,
.add-comment .form-control:active,
.add-comment .form-control.active,
.add-comment .form-control:focus:active {
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: none;
	border-color: #4b907d;
}

#srch-term:focus,
#srch-term:active,
#srch-term.active,
#srch-term:focus:active {
	background-image: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/*
 * 
 * Page Body
 *
 */

.page-body {
	margin: 0 auto;
}

.source {
	margin-top: 10px;
}

.page-body a:link {
	text-decoration: none;
	color: #4b907d;
}

.page-body a:visited {
	color: #4aa789;
}

.page-body a:hover,
.page-body a:active,
.page-body a:after {
	color: #76c9aa;
}

.page-text {
	padding: 30px 10px 10px 10px;
}

.page-text {
	margin-bottom: 20px;
}

.page-text ol,
.page-text ul {
	padding-left: 25px;
	padding-top: .3em;
}

.page-text h1 {
	font-size: 2.2em;
	padding: .5em 0;
	margin-top: .2em;
	margin-bottom: .8em;
	text-transform: uppercase;
	color: #4b907d;
	border-bottom: 1px solid rgba(75,144,125,.3);
	border-top: 1px solid rgba(75,144,125,.3);
}

.page-text h2 {
	font-size: 1.6em;
	margin-top: 1em;
	padding-bottom: .3em;
	text-transform: uppercase;
	letter-spacing: .5px;
	color: #404040;
}

.side-item img{
	width: 100%;
	border-radius: 15px;
	padding: 5px;
}

.reco > .col-md-4, 
.reco > .col-sm-4, 
.reco > .col-lg-4 {
    padding-right: 2px;
    padding-left: 2px;
}

.reco {
	padding-right: 15px;
	padding-left: 15px;
}

/*
 * 
 * Headings
 *
 */

.comments h3,
.new-comment h3,
.side-item h3 {
	font-size: 1.8em;
	padding: 0;
	margin-top: .2em;
	margin-bottom: .5em;
	text-transform: uppercase;
	color: #4b907d;
}

/*
 * 
 * Comments
 *
 */

.comments {
	margin-bottom: 50px;
}

.well {
	border-radius: 0;
	background-color: #fff;
	box-shadow: 3px 3px 10px #e0dada;
}

.comment-pic {
 	height: 50px;
 	width: 50px;
 	border-radius: 50%;
 	background-color: #4b907d;
 	color: white;
 	position: relative;
}

.comment-pic > span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 2em;
}

.comments h4,
.comments p {
 	margin: 0;
}

.comments h4 {
 	font-size: 1.2em;
}

.comments a,
.comments .date {
	color: #4b907d;
}

.comments a:hover {
	text-decoration: none;
}

.comments p {
 	font-size: .8em;
}

.comments .btn {
	color: #4b907d;
}

.comments .btn:focus,
.comments .btn:active,
.comments .btn.active,
.comments .btn:focus:active {
	background-image: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: none;
	border-color: none;
}

.comments .btn:hover {
	color: #76c9aa;
}

.pager li>a, .pager li>span {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 0;
}

.new-comment p {
	margin-bottom: 10px;
}

.media-body p {
	margin-top: 3px;
}

.media-body p.date {
	margin: 0;
}

.add-comment .btn {
	float: right;
	position: relative;
	border-radius: 0;
	border: 2px solid #4b907d;
	background-color: #4b907d;
}

.add-comment .btn:focus,
.add-comment .btn:active,
.add-comment .btn.active,
.add-comment .btn:focus:active {
	background-image: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: none;
	border-color: none;
	border: 2px solid #4b907d;
	background-color: #4b907d;
}

/*
 *
 * Contact
 *
 */

.contact-us h3 {
	font-family: 'Satisfy', serif;
	font-size: 3em;
} 

.contact-sns {
	padding-left: 30px;
	padding-top: 20px;
}

.contact-us p{
	padding-bottom: 30px;
}

.contact-text h3,
.contact-text p {
	padding-left: 10px;
}

.contact-text {
	padding-left: 10px;
}

.contact-text h3 {
	margin-top: 1em;
	font-size: 2.5em;
} 	

.contact-text p {
	margin-bottom: 0;
	padding-bottom: 20px;
}

 /*
  *
  * Footer
  *
  */

.footer {
	background-color: #4b907d;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 20px;
}

.footer .fa {
	color: white;
	font-size: 1.5em;
	padding: 0 2px;
}

.footer .fa:hover {
	color: #98d6bf;
}

/*
 *
 * Media Query XS - Phones
 *
 */

@media only screen and (max-width: 767px) {

	/* Landing Page */

	.landing-logo {
		width: 80%;
	}

	/* Nav */

	.navbar-collapse {
		background-color: rgba(0, 0, 0, .3);
		border-radius: 0;
		line-height: .5em;
	}

	.darknavbar-collapse {
		background-color: rgba(75, 144, 125, 1);
	}

	.navbar-form {
		padding: 0; 
		margin-top: 0; 
		margin-right: 0; 
		margin-bottom: 15px; 
		margin-left: 0; 
		border-top: 0; 
		border-bottom: 0;
 	}

 	.navbar-fixed-bottom .navbar-collapse,
 	.navbar-fixed-top .navbar-collapse {
 		max-height: none;
 	}

 	.navbar-toggle {
 	    border: none;
 	}

	.navbar-inverse .navbar-toggle:focus,
	.navbar-inverse .navbar-toggle:hover {
		background-color: transparent; 
	}

 	.navbar-inverse .navbar-collapse,
 	.navbar-inverse .navbar-form {
 		border-color: transparent;
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    	color: rgba(255,255,255,.8);
	}

	/* Main */

	.home-text {
		margin: 0 auto;
		width: 90%;
		padding: 15px 8px;
	}

 	.timeline-title {
		border: 5px solid #4b907d;
		width: 250px;
		padding: 20px;
		position: relative;
		left: 2%;
		transform: translateX(2%);
	}

 	.timeline ul li {
 		margin-left: 20px;
 	}

 	.timeline ul li div {
 		width: calc(100vw - 91px);
 	}

 	.timeline ul li:nth-child(even) div {
 		left: 45px;
 	}

 	.timeline ul li:nth-child(even) div::before {
 		left: -15px;
 		border-width: 8px 16px 8px 0;
 		border-color: transparent #fff transparent transparent;
 	}

 	/* Footer */

 	.footer .fa {
		padding: 5px 3px;
	}

	.footer {
		text-align: center;
	}
}

/*
 *
 * Media Query SM - Tablets
 *
 */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	/* Landing Page */

	.landing-logo {
		width: 50%;
	}

	/* Nav */

	.navbar-nav>li>a {
    	padding-top: 22px;
    	padding-bottom: 15px;
	}

	.navbar-right {
		width: 25%;
	}

	.navbar-form {
		float: right;
		margin-right: 0;
		position: relative;
 	}

 	.nav .open>a,
 	.nav .open>a:focus,
 	.nav .open>a:hover {
 		background-color: transparent;
 		border-color: transparent;
 	}

	.navbar-fixed-bottom .navbar-collapse,
	.navbar-fixed-top .navbar-collapse {
 		max-height: none;
 	}

 	/* Main */

	.home-text {
		width: 80%;
		margin: 0 auto;
		padding: 20px;
	}

 	.timeline-title {
		border: 5px solid #4b907d;
		width: 400px;
		padding: 30px;
	}

 	.timeline ul li div {
 		width: 250px;
 	}

 	.timeline ul li:nth-child(even) div {
 		left: -289px; /*250+45-6*/
 	}

	.reco {
		padding-right: 10px;
		padding-left: 10px;
	}

	/* Footer */

	.contact {
		float: right;
	}
}

/*
 *
 * Media Query MD - Desktops
 *
 */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	/* Landing Page */

	.landing-logo {
		width: 40%;
	}

	/* Nav */

	.navbar-nav>li>a {
    	padding-top: 22px;
    	padding-bottom: 15px;
	}
			
 	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
 		background-color: transparent;
 		border-color: transparent;
 	}

 	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
 		max-height: none;
 	}

 	/* Main */

	.home-text {
		width: 80%;
		margin: 0 auto;
		padding: 30px;
	}

	.container-fluid {
		padding-right: 50px;
		padding-left: 50px;
	}

 	.side-item h3 {
 		margin-top: 2.5em;
 	}

 	.reco {
		padding-right: 0;
		padding-left: 0;
	}

	.contact-form {
		margin-top: 30px;
	}

	/* Footer */

	.contact {
		float: right;
	}
}

/*
 *
 * Media Query LG - Large Desktops
 *
 */

@media only screen and (min-width: 1200px){

	/* Landing Page */

	.landing-logo {
		width: 30%;
	}

	/* Nav */

	.navbar-nav>li>a {
    	padding-top: 22px;
    	padding-bottom: 15px;
	}
			
 	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
 		background-color: transparent;
 		border-color: transparent;
 	}

 	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
 		max-height: none;
 	}

 	/* Main */

	.home-text {
		width: 80%;
		margin: 0 auto;
		padding: 30px;
	}

	.container-fluid {
		padding-right: 50px;
		padding-left: 50px;
	}

 	.side-item h3 {
 		margin-top: 2.5em;
 	}

 	.reco {
		padding-right: 0;
		padding-left: 0;
	}

	.contact-form {
		margin-top: 30px;
	}

	/* Footer */

	.contact {
		float: right;
	}
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}